/* ==========================================================================
*  Shopwell Customizer Preview styles.
*  ========================================================================== */
.customize-partial-edit-shortcut-blogname,
.customize-partial-edit-shortcut-shopwell_footer_widgets_align_center,
.customize-partial-edit-shortcut-shopwell_hero_hover_slider_post_number {
  display: none !important;
}

.shopwell-hide-shortcuts .customize-partial-edit-shortcut {
  display: none !important;
}

.customize-partial-edit-shortcut {
  z-index: 999;
}

.shopwell-social-nav .customize-partial-edit-shortcut {
  top: 0;
}

.shopwell-social-nav .customize-partial-edit-shortcut button {
  left: -20px;
}

.shopwell-primary-nav .customize-partial-edit-shortcut {
  top: 12px;
}

.shopwell-primary-nav .customize-partial-edit-shortcut button {
  left: -25px;
}

.shopwell-header-layout-3 .customize-partial-edit-shortcut-shopwell_header_layout {
  left: 30px;
}

.customize-partial-edit-shortcut-shopwell_footer_layout {
  top: 50%;
  left: 35px;
}
.shopwell_home_section {
  position: relative;
}
.shopwell_home_section::before{
  transition: .3s ease;
  z-index: 8;
  position: absolute;
  content: " ";
  border: 2px dashed rgba(195,195,195,.5);
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  pointer-events: none;
}
.shopwell_home_section:hover::before{
  border-color: #00a0d0;
}
.shopwell_home_section > .customize-partial-edit-shortcut {
  left: 40px;
  top: 8px;
  z-index: 8;
}